
<div class="tit-center">
    <button *ngIf="isLogged" (click)="open(editSkill)" class="icono main-color edit">
        {{button}}
    </button>
</div>
  
<ng-template #editSkill let-modal class="rounded-0">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{titulo}} skills</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="cancelar(); modal.close()"></button>
	</div>
	<div class="modal-body">
		<form enctype="multipart/form-data">
			<div class="mb-3">
                <label for="nombre">Nombre :</label>				
				<div class="input-group mb-3">                    
					<input id="nombre" class="form-control" placeholder="Ingrese el nombre" name="nombre" 
                    autocomplete="off" [value]="objeto?.nombre" [(ngModel)]="nombre"/>	
                </div>
                
                <label for="imagen">Imagen :</label>				
                <div class="input-group mb-3">
                    <input id="imagen" class="form-control" placeholder="Ingrese la dirección de la imagen" name="imagen" 
                    autocomplete="off" [value]="objeto?.imagen" [(ngModel)]="imagen"/>	                    
                </div>

                <label for="tiposkill">Tipo de Skill : <span class="txt-second">(puede demorar en cargar las opciones)</span></label>
                <div class="input-group mb-3">   
                    <select name="tiposkill" id="tiposkill" class="form-select" [(ngModel)]="tiposkill['id']" required="">
                        <option *ngFor="let tipo of listaskills" value="{{tipo.id}}">{{tipo.id}} - {{tipo.nombre}}</option>
                    </select>                 
                </div>
                
                <div *ngIf="showMensaje">
                    <p>Los campos son obligatorios.</p>
                </div>
            </div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="cancelar(); modal.close()">Cancelar</button>
		<button type="button" class="btn btn-outline-dark" (click)="onGuardar()">Guardar</button>
	</div>
</ng-template>

<!-- <input type="file" id="imagen" class="form-control" name="imagen"
                        (change)="onFileChange($event)" [(ngModel)]="imagen"/>		 -->

                        <!-- <input id="tiposkill" class="form-control" placeholder="Ingrese el tiposkill" name="tiposkill" 
                autocomplete="off" [value]="objeto?.tiposkill['id']" [(ngModel)]="tiposkill['id']"/> -->

                <!-- <div *ngFor="let tipo of listaskills">
                    <p>{{tipo.nombre}}</p>
                </div> -->

