
<div class="cont-contact">
    <div class="contact-me">
        <h3 class="rayita">contact me</h3>
        <form [formGroup]="enviarMail" (ngSubmit)="enviar($event)">
            <div class="mi-input">
                <input type="text" formControlName="nombre" placeholder=" " required>
                <label for="nombre">Nombre</label>
                <div class="linea-abajo"></div>
            </div>
            <div class="mi-input">
                <input type="email" formControlName="fromEmail" placeholder=" " required>
                <label for="email">Email</label>
                <div class="linea-abajo"></div>
                <div class="input-email">
                    <p>El email no es válido.</p>
                </div>
            </div>
            <div class="mi-input">
                <textarea formControlName="mensaje" autosize required></textarea>
                <label for="mensaje">Escribe tu mensaje</label>
                <div class="linea-abajo"></div>
            </div>
            <button type="submit" [ngClass]="{valid: enviarMail.valid, invalid:enviarMail.invalid}">Enviar</button>
        </form>
    </div>
</div>