*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

img{
    height: 40px;
    margin: 30px 15px;
}

.desaparecer{
    display: flex;
    justify-content: space-between;
}

.mover{
    cursor: move;
    padding: 5px 10px 0;
}

.registro{
    background-color: black;
}

textarea{
    overflow:hidden;
}


