
<div class="registro" cdkDrag [cdkDragDisabled]="!isLogged">  
  <div> 
    <div class="desaparecer">
      <button *ngIf="isLogged" cdkDragHandle class="icono main-color mover">
        <fa-icon [icon]="['fas', 'ellipsis']"></fa-icon> Mover
      </button>
      <app-btn-edit-delete [puedeEliminar]="true" [objeto]="objeto"
        (onEdit)="editar(objeto)"
        (onDelete)="eliminar(objeto)"
      ></app-btn-edit-delete>      
    </div>
  
  <div [ngClass]="{editable: objeto.editar}">
    <div class="elemento" [ngClass]="{lineasDiv: isLogged}">
      
      <img [src]="objeto.imagen" alt="Logos" />
    
      <div class="datos">
        <input type="text" name="tiempo" autocomplete="off" class="tiempo"
          [(ngModel)]="objeto.tiempo" [readonly]="!objeto.editar"/>
        <input
          type="text" name="titulo" autocomplete="off" class="titulo"
          [(ngModel)]="objeto.titulo" [readonly]="!objeto.editar"/>
        <input type="text" name="descripcion" autocomplete="off" class="descripcion"
          [(ngModel)]="objeto.descripcion" [readonly]="!objeto.editar"/>
        <input *ngIf="objeto.otrasNotas != '' || objeto.editar" type="text" name="otrasNotas" autocomplete="off"
          [(ngModel)]="objeto.otrasNotas" [readonly]="!objeto.editar" class="descripcion"/>
      </div>
    </div>
    
    
      <app-btn-cancel-save *ngIf="objeto.editar"
        (onGuardar)="guardar(objeto)"
        (onCancelar)="cancelar(objeto)"
      ></app-btn-cancel-save>
    </div>
  </div>
  
</div>


