
  <app-btn-edit-delete [puedeEliminar]=true
    (onEdit)="editar(objeto)"
    (onDelete)="eliminar(objeto)"
    [objeto]="objeto"
  ></app-btn-edit-delete>
  <div [ngClass]="{editable: objeto.editar}">
      <div class="elemento">
        <h6>
          <input type="text" [(ngModel)]="objeto.tiempo" [readonly]="!objeto.editar" name="tiempo"/>
        </h6>
        <h4>
          <input type="text" [(ngModel)]="objeto.titulo" [readonly]="!objeto.editar" name="titulo"/>
        </h4>
        <p>
          <input type="text" [(ngModel)]="objeto.descripcion" [readonly]="!objeto.editar" name="descripcion"/>
        </p>
        <p>
          <input *ngIf="objeto.otrasNotas != ''" type="text" [(ngModel)]="objeto.otrasNotas"
            [readonly]="!objeto.editar" name="nota1"/>
        </p>
        <app-btn-cancel-save *ngIf="objeto.editar"
          (onGuardar)="guardar(objeto)"
          (onCancelar)="cancelar()"
        ></app-btn-cancel-save>
      </div>
  </div>

