*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
}

img{
    width: 60%;
}

.imgedit{
    cursor: pointer;    
}

.imgedit img:hover{
    opacity: 0.6;
}

.imagen-vacio{
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-vacio:hover{
    color: var(--main-color);
}

.imagen-vacio p{
    /* background-color: red; */
    text-align: right;
    margin: 0;
    width: 55px;
}

.desaparecer{
    display: flex;
    justify-content: space-between;
}

.mover{
    cursor: move;
    padding: 5px 10px 0;
}

.registro{
    background-color: black;
}

textarea{
    overflow:hidden;
}




