
.about{
  display: flex;
  justify-content: center;
  align-items:flex-start;
  margin-bottom: 160px;
  gap: 150px;
  /* background-color: #202020; */
}

.sobre-mi{
  width: 50%;
  max-width: 750px;
  padding: 0 60px;
  border-left: 2px solid var(--main-color);
  margin-top: 2.5%;
  /* background-color: var(--gray-color); */
}

p {
  margin-top: 15px;
}

/* .btnEdit{
  position: relative;
  bottom: 15px;
} */

.foto{
  width: 20%;
  max-width: 300px;
}

h3{
  padding-left: 10px;
}

textarea{
  width: 95%;
  padding: 10px 10px 0;
  font-size: .9rem;
  /* background-color: red; */
}



.rotulo{
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

