<img class="gatito" [src]="miPortfolio?.gatito" alt="">
<h3>Sobre mí</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab perspiciatis ex vitae minima esse ullam odit nulla quaerat placeat illo natus quis officia facere maiores hic cum, consequuntur atque modi!
Sed nihil atque aliquam ex corporis repellendus incidunt reiciendis, quibusdam quas, saepe alias voluptas voluptates delectus asperiores ullam harum impedit eum suscipit! Impedit minus fugit tempore officiis quo doloribus molestias. Possimus autem aliquam recusandae tenetur accusamus vitae hic. Nemo, neque numquam! Voluptate!</p>
