footer{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 90px;
}

p{
    font-size: 16px;    
    padding: 10px 120px;
    border-top: 1px solid var(--gray-color);
}

span{
    letter-spacing: .1rem;
}

@media (max-width: 600px){
    p{
        padding: 10px 25px;
    }
}