<ng-container>
  <div class="pantalla">
    <div class="login">
      <div class="header">
        <h4>Iniciar sesión</h4>
        <button [routerLink]="['/home']" class="close">
          <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </button>
      </div>

      <div class="contenedor">
        <form [formGroup]="form" (ngSubmit)="onEnviar($event)" class="form-inicio">
          <input type="text" formControlName="user" placeholder="Usuario" 
                  [ngClass]="{'invalid': userInvalid}" autocomplete="off"/>
          <div class="espacioTextos">
              <div *ngIf="user?.errors  && user?.touched" class="text-errores" >
                  <p *ngIf="user?.hasError('required')" class="error">Ingrese el nombre de usuario.</p>
                  <p *ngIf="user?.hasError('minlength')" class="error">Debe tener al menos 5 caracteres.</p>
                  <p *ngIf="user?.hasError('pattern')" class="error">Solo puede contener letras y/o números.</p>
              </div>
          </div>
          <input type="password" formControlName="password" placeholder="Contraseña" 
                  [ngClass]="{'invalid': passwordInvalid}" autocomplete="off"/>
          <div class="espacioTextos">
              <div *ngIf="password?.errors  && password?.touched" class="text-errores" >
                <p *ngIf="password?.hasError('required')" class="error">Ingrese la contraseña.</p>
                <p *ngIf="password?.hasError('minlength')" class="error">Debe tener al menos 8 caracteres.</p>
                <p *ngIf="password?.hasError('pattern')" class="error">Solo puede contener letras y/o números.</p>
              </div>
          </div>          
            
          <p class="error grande" [ngClass]="{'msj': !mostrarMensajeError}">Usuario o contraseña incorrectos.</p>
                  
          <button type="submit">Iniciar Sesión</button>
          <div class="notas grande">
            <p>Para acceder a las opciones de edición:</p>
            <p>*Usuario : <b>admin</b></p>
            <p>*Contraseña : <b>admin123</b></p>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-container>
