input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: rgba(20,20,20,1) !important;
}

button,input{
    all: unset;
}

.pantalla{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9000;
    color: #000;
}

.login{
    width: 280px;
    height: 480px;
    background-color: white;
    z-index: 9000;
}

.header{
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

.close{
    flex-direction: row;
    align-self: flex-start;
    cursor: pointer;
}

.close:hover{
    color: var(--dark-red);
}

h4{
    margin: 50px 0 40px 15px;
    font-size: 1.6rem;
}

button[type="submit"]{
    display: block;
    margin: auto;
    background-color: black;
    color: white;
    padding: 10px 30px;
    margin-top: 70px;
}

button:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

input{
    display: block;
    margin: 0 auto;
    width: 220px;
    font-size: 15px;
    padding: 10px 10px 0 ;
    border-bottom: 1px solid var(--light-gray);
}

.invalid{
    border-bottom: 1px solid var(--dark-red);
}

.form-inicio{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.error{
    color: var(--dark-red);
    margin-left: 25px;
    font-size: 12px;
    margin-bottom: -5px;
    padding-bottom: 0;
}

.grande{
    font-size: 14px;
}

.espacioTextos{
    height: 30px;
}

.msj{
    position: relative;
    visibility: hidden;
}

.notas{
    padding-top: 10px;
    margin: 15px 25px;
    border-top: 1px solid var(--light-gray);
}

p{
    margin: 0;
    font-size: 12px;
}