

nav {
    background-color: rgba(0, 0, 0, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 1% 6% 0.5%;

}

.logoArgPrograma {height: 40px;}

button{
    height: 30px;
    padding: 5px 20px;
    align-self: center;
    cursor: pointer;
}