<nav class="navbar fixed-top">
  <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa" target="_blank">
    <img src="assets/logo-argprog-dark.png" alt="Logo Argentina Programa" class="logoArgPrograma"/>
  </a>
  <!-- <button (click)="logueoUser()">prueba</button> -->
  <button *ngIf="!userLogueado" routerLink="/iniciar-sesion" class="boton-login">Ingresar</button>
  <button *ngIf="userLogueado" (click)="logueoUser()" class="boton-login">Salir</button>
</nav>

