
nav {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 30;
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.int-nav{
    width: 100%;
    max-width: 2000px;
    display: flex;
    justify-content: space-between;
    padding: 1% 6% 0.5%;
}

.logoArgPrograma {height: 40px;}

button{
    height: 30px;
    width: 60px;
    text-align: center;
    padding: 0 20px;
    border: solid 1px white;
}

@media (max-width: 500px){
    .int-nav{
        padding: 1% 10px 0 0;
    }

    button{
        padding: 0 10px;
    }
}

