
*{
    font-family: monospace;
}

.cover{
    position: relative;
}

.container{
    text-align: right;
    position: absolute;
    top: 15%;
    right: 7.5%;
}

h2{
    font-size: 1.5rem;
    margin-right: 3%;
}

.nombre{
    color: var(--main-color);
    letter-spacing: .25rem;
}

@media (max-width: 800px){
    .container{
        top:20%;
    }

    img{
        height: 500px;
        width: 100%;
        object-fit: cover;
    }

    h1{
        font-size: 1.5rem;
    }
    h2{
        font-size: 1rem;
    }
}

@media (max-width: 500px) {
    .container{
        margin-right: 0;
        padding: 0;
        right: 16px;
    }
    
    img{
        opacity: 0.6;
    }
  }

  @media (max-width: 400px) {
    .container{
        width: 248px;
        text-align: center;
    }

    .hola{
        display: block;
    }

    .saludo{
        font-size: 1.2rem;
    }

    .nombre{
        letter-spacing: 0.1rem;
    }

    h2{
        width: 175px;
        margin: 0 auto;
    }
  }




  