<h3>Estudios</h3>
<ul>
  <li>
    <h4>Título estudio</h4>
    <h6>2006 - 2008</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ducimus
      totam at?
    </p>
  </li>
  <li>
    <h4>Título estudio</h4>
    <h6>2006 - 2008</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ducimus
      totam at?
    </p>
  </li>
  <li>
    <h4>Título estudio</h4>
    <h6>2006 - 2008</h6>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis ducimus
      totam at?
    </p>
  </li>
</ul>
