input, button {
  all: unset;
  width: 100%;
}

.editable {
  background-color: rgb(20, 20, 20);
}

input:-internal-autofill-selected{
  background-color: rgb(20, 20, 20) !important;
}

.editable > .botones {
  margin: 10px;
  /* border-top: 1px solid rgb(60, 60, 60); */
  padding-top: 10px;
  display: flex;
  justify-content: space-around;
}

.subtitulo {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.form-add {
  display: block;
}

.form-add > form {
  margin-top: 10px;
}

form.editable {
  padding: 5px 10px;
  margin-bottom: 10px;
}

h6 {
  font-weight: lighter;
  color: var(--second-color);
  margin-top: 15px;
}

p {
  font-size: 12px;
}

.icono {
  width: 100px;
  font-size: 12px;
  cursor: pointer;
  text-align: right;
  float: right;
}

.center {
  text-align: center;
}

.main-color:hover {
  color: var(--main-color);
}
.second-color:hover {
  color: var(--second-color);
}

