<h6><input type="text" name="tiempo" placeholder="Agregar tiempo" [(ngModel)]="tiempo"/></h6>
    <h4><input type="text" name="titulo" placeholder="Agregar titulo" [(ngModel)]="titulo"/></h4>
    <p><input type="text" name="descripcion" placeholder="Agregar descripción" [(ngModel)]="descripcion"/></p>
    <p><input type="text" name="otrasNotas" placeholder="Agregar nota" [(ngModel)]="otrasNotas"/></p>

    <button (click)="cancelar()">Cancelar</button>
    <button (click)="submit()">Guardar</button>