
<app-navbar></app-navbar>
<app-cover></app-cover>
<!-- <app-about class="flex-item"></app-about> -->
<div class="flex-container">
  
  <app-studies class="flex-item"></app-studies>
</div>
<app-experience class="flex-item"></app-experience>

<p>Hola soy una prueba</p>

<div>
  Hola soy un div para probar iconos :
  <i style="color: red;" class="fa-sharp fa-solid fa-xmark"></i>
  <fa-icon [icon]="['fas', 'times']"></fa-icon>
  <fa-icon [icon]="['far', 'circle-xmark']"></fa-icon>
  <fa-icon [icon]="['far', 'edit']"></fa-icon>
  <fa-icon class="check" [icon]="['fas', 'check']"></fa-icon>

</div>


<button type="button" class="btn btn-warning">Warning</button>

