.square {
    border: var(--espesor) solid #fff;
    display: inline-block;
    position: absolute;
    transition: all 0.2s;
    animation: 
        cayendo ease-out forwards,
        rotando 15s ease-out 45s forwards,
        saltando 12s ease-out 60s forwards,
        rotando2 12s ease-in-out 70s forwards,
        saltando 20s ease-in-out 80s forwards,
        escalando 5s ease-in-out 85s forwards,
        escalando2 5s ease-in-out 100s forwards,
        escalando3 10s ease-in-out 110s forwards,
        rotando2 10s ease-in-out 120s forwards,
        juntando 6s ease-in-out 130s forwards;
}  
.square:hover {
    border-color: var(--second-color)
}
.square:not(:hover) {
    transition: all 40s
}
@keyframes cayendo {
    0% {transform: rotate(0deg);
        top: var(--topinicial);
    }
    100% {transform: rotate(var(--rotation)) translateX(var(--horizontal));
        top:var(--top);
    }
}
@keyframes rotando {
    to{transform: rotate(var(--rotationTop))}
}
@keyframes rotando2 {
    to{transform: rotate(var(--rotation))}
}
@keyframes saltando {
    to{transform: rotate(var(--rotation)) translateY(var(--vertical))}
}
@keyframes escalando {
    to{transform: scale(.6)}
}
@keyframes escalando2 {
    to{transform: scale(1.8)}
}
@keyframes escalando3 {
    to{transform: scale(.8)}
}
@keyframes juntando {
    to{top:75%}
}


.texto{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

p{
    color: white;
    font-size: 20px;
    font-family: monospace;
    text-align: center;
    position: relative;
    display: inline-block;
}
p::before, p::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
p::before{
    background-color: #000;
    animation: escribiendo var(--tiempoEscrib) steps(var(--num-steps)) var(--espera) forwards;
}
p.frase::after{
    width: 0.125em;
    background-color: transparent;
    animation: 
        escribiendo var(--tiempoEscrib) steps(var(--num-steps)) var(--espera) forwards,
        titilando 0.5s steps(var(--num-steps)) calc(var(--espera) - 2s) infinite;    
}
p.mensaje::after{
    width: 0.125em;
    background-color: transparent;
    animation: 
        escribiendo var(--tiempoEscrib) steps(var(--num-steps)) var(--espera) forwards,
        titilando 0.5s steps(var(--num-steps)) calc(var(--espera) - 2s) infinite,
        titilando-final 0.5s linear var(--terminaTitilar) forwards;
}
.frase{
    position: absolute;
    top: -10%;
    animation: aparecer 100ms ease-out calc(var(--espera) - 20s) forwards;
}
@keyframes escribiendo {to{left: 100%}}
@keyframes titilando {to{background: white}}
@keyframes titilando-final {to{background: transparent}}
@keyframes aparecer {to{top:30%}}

