<!-- <app-navbar (modalLogout)="cuadroDialogo.openModal()"></app-navbar>
<app-cuadro-dialogo #cuadroDialogo></app-cuadro-dialogo>
<app-cover></app-cover>
<app-about></app-about>  
<app-history></app-history>
<app-proyectos></app-proyectos> -->
<app-skills></app-skills>
<app-footer></app-footer>

<!-- <div class="flex-container">
  <app-studies class="flex-item"></app-studies>
</div>
<div class="flex-container">
  <app-experience class="flex-item"></app-experience>
</div>
<app-todos></app-todos>
<app-project></app-project> -->
