
.history{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.grande{
    width: 600px;
}

.chica{
    width: 540px;
}

.exper-mb{
    margin-bottom: 40px;
}

@media (max-width: 1220px){
    .chica{
        width: 600px;
    }

    .exper-mb{
        margin-bottom: 60px;
    }
}
