img{
    border-radius: 100%;
    width: 80px;
    cursor: none;
}

img:hover{
    animation: Aumentar 2s ease forwards;
}

@keyframes Aumentar {
    0% {scale: 1}
    30% {scale: 1.2}
    60% {scale: 0.9}
    80% {scale: 1.1}
    100% {scale: 1;
        transform: rotate(360deg)}
  }

.skills{
    display: flex;
    gap: 5px;
    justify-content: center;
    margin: 25px auto 0;
    max-width: 900px;
    flex-wrap: wrap;
    min-width: 248px;
    /* background-color: blue; */
}

.cajita{
    /* background-color: green; */
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 5px;
}

.titulo{
    text-align: center;
    margin-top: 120px;
}

p{
    font-size: 12px;
    margin: 5px auto 0;
    text-align: center;
}

.move{    
    cursor: move;
}

.icono{
    /* background-color: red; */
    width: 10px;
    margin-left: auto;
    font-size: 18px;
    height: 5px;
}

.edit{
    /* background-color: red; */
    margin-top: 5px;   
}

.addBtn{
    margin-top: -40px;
}

.mover{
    align-self: center;
    padding: 0 10px 40px;
    cursor: move;
    font-size: 13px;
}

.mover:hover{
    color: var(--main-color);
}
