img{
    border-radius: 100%;
    width: 80px;
}

img:hover{
    animation: Aumentar 2s ease;
}

@keyframes Aumentar {
    0% {scale: 1;
        transform: rotate(0deg)}
    50% {scale: 1.5;
        transform: rotate(360deg)}
    100% {scale: 1;}
  }

.skills{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin: 60px auto 0;
    max-width: 900px;
    flex-wrap: wrap;
    min-width: 248px;
    /* background-color: blue; */
}

.cajita{
    /* background-color: green; */
    width: 120px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 5px;
}

.titulo{
    text-align: center;
    margin-top: 120px;
}

p{
    font-size: 12px;
    margin: 10px auto 0;
    text-align: center;
}

.icono{
    /* background-color: red; */
    width: 10px;
    margin-left: auto;
    font-size: 18px;
    height: 5px;
}

.edit{
    /* background-color: red; */
    margin-top: 5px;   
}
