<div [ngClass]="{editable: objeto.editar}">
    <h6>
      <input type="text" [(ngModel)]="objeto.tiempo" [readonly]="!objeto.editar" name="tiempo"/>
    </h6>
    <h4>
      <input type="text" [(ngModel)]="objeto.titulo" [readonly]="!objeto.editar" name="titulo"/>
    </h4>
    <p>
      <input type="text" [(ngModel)]="objeto.descripcion" [readonly]="!objeto.editar" name="descripcion"/>
    </p>
    <p>
      <input *ngIf="objeto.otrasNotas != ''" type="text" [(ngModel)]="objeto.otrasNotas"
        [readonly]="!objeto.editar" name="nota1"/>
    </p>
    <p>
      <input *ngIf="objeto.nota2 != ''" type="text" [(ngModel)]="objeto.nota2"
        [readonly]="!objeto.editar" name="nota2"/>
    </p>
</div>
<app-btn-edit-del 
    (onEdit)="editar(objeto)" 
    (onDelete)="eliminar(objeto)"
    (onGuardar)="guardar(objeto)"
    (onCancelar)="cancelar()"
></app-btn-edit-del>