input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(20,20,20,1) inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}


@font-face {
  font-family: Mulish;
  src: url(assets/mulish-font.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(assets/poppins.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Mulish, sans-serif;
  list-style: none;
}

/* QUE NO HAGA SCROLL CON MODAL ABIERTO */
/* body {margin: 0; height: 100%; overflow: hidden} */

:root {
  --main-color: #fcff4b;
  --second-color: #f97068;
  --gray-color: #606060;
  --light-gray: #cccccc;
  --dark-red: #aa0000;
}

body {
  color: white;
  background-color: #000;
}

.elemento {
  padding: 0px 10px 0px 70px;
  margin: 20px 0;
  
}

h3,h4{
  font-weight: bold;
  margin-bottom: 0;
}

h3{
  font-size: 1.3rem;
}

h4{
  font-size: 1.1rem;
}

h6 {
  font-weight: lighter;
  color: var(--second-color);
  margin: 0;
  font-size: .75rem;
  line-height: 1rem;
}

p {
  font-size: 12px;
  margin-bottom: 0;
}

/* h3::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: var(--main-color);
  transform: translate(-25px) rotate(-30deg);
} */

.flex-container {
  display: flex;
  flex-direction: column;  
  margin: 10px 100px;
  /* align-items:flex-start; */
}

.flex-item {
  width: 600px;
  margin: 0 0 50px 10px;
  /* background-color: #444; */
  padding: 0 5px 0 25px;
  border-left: 2px solid var(--main-color);
}

/* DE LOS COMPONENTES */

input, button {
  all: unset;
  width: 100%;
}

.editable {
  background-color: rgb(20, 20, 20);  
}

input:-internal-autofill-selected{
  background-color: rgb(20, 20, 20) !important;
}

.subtitulo {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.campos {
  padding: 5px 10px;
  margin-bottom: 10px;
}

.lineasDiv{
  border-top: 1px solid var(--gray-color);

}
  
.botones {
  margin: 10px 10px 0;
  border-top: 1px solid var(--gray-color);
  padding: 10px 0;
  display: flex;
  justify-content: space-around;    
  width: 95%;
  /* background-color: rgb(20, 20, 20); */
}

.icono {
  width: 100px;
  font-size: 12px;
  cursor: pointer;
  text-align: right;
  float: right;
}

.center {
  text-align: center;
}

.main-color:hover {
  color: var(--main-color);
}
.second-color:hover {
  color: var(--second-color);
}


/* .flex-item:first-child {
  width: 300px;
} */

