input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgba(20,20,20,1) inset !important;
}

input:-webkit-autofill {
  -webkit-text-fill-color: white !important;
}

input:-internal-autofill-selected{
  background-color: rgb(20, 20, 20) !important;
}

@font-face {
  font-family: Mulish;
  src: url(assets/mulish-font.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(assets/poppins.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Mulish, sans-serif;
  list-style: none;
}

:root {
  --main-color: #fcff4b;
  --second-color: #f97068;
  --gray-color: #606060;
  --dark-gray: #101010;
  --light-gray: #cccccc;
  --dark-red: #aa0000;
}

body {
  color: white;
  background-color: #000;
}

input, button, textarea {
  all: unset;  
}

input{
  width: 100%;
  /* word-wrap: break-word;
  word-break: break-all; */
}

textarea{
  resize: vertical;
}

textarea:read-only{
  resize: none;
}

.registro{
  /* background-color: rebeccapurple; */
  /* max-width: 650px; */
  /* margin: 10px auto 20px; */
  display: flex;
  flex-direction: column;
}

.elemento {
  display: flex;
  padding-top: 5px;
  margin-bottom: 15px;
  /* background-color: yellow; */  
}

.datos{
  display: flex;
  flex-direction: column;
  width: 100%;
}

h3{
  font-size: 26px;
  font-weight: bold;
  margin: 0 0 15px;
  padding-left: 15px;
}

.tiempo{
  font-weight: lighter;
  color: var(--second-color);
  font-size: 12px;
}

.titulo{
  font-size: 18px;
  font-weight: bold;
}

.descripcion{
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.editable {
  background-color: rgb(20, 20, 20);  
}

.lineasDiv{
  border-top: 1px solid var(--dark-gray);
}

.campos { /* ADD FORM */
  padding: 5px 10px 5px 70px;
  margin-bottom: 10px;
}
  
.botones { /* CANCELAR GUARDAR -abajo- */
  margin: 10px 10px 0;
  border-top: 1px solid var(--gray-color);
  padding: 10px 0;
  display: flex;
  justify-content: space-around;    
  width: 95%;
  /* background-color: rgb(20, 20, 20); */
}

.icono {
  font-size: 12px;
  cursor: pointer;
  text-align: right;
}

.center {
  text-align: center;
}

.main-color:hover {
  color: var(--main-color);
}
.second-color:hover {
  color: var(--second-color);
}

.cont-squares{
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 90vh;
}    

.squares{
  width: 1200px;
  height: 85vh; 
  display: flex;
  justify-content: center;
  position: relative;
}

