/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Mulish;
  src: url(assets/mulish-font.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(assets/poppins.ttf);
}

* {
  margin: 0;
  padding: 0;
  background-color: #000;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Mulish, sans-serif;
  color: white;
  list-style: none;
}

/* p, ul ,h2, li, h4, h6{
    background: rgba(0, 0, 0, 0);
} */

:root {
  --main-color: #fcff4b;
  --secondary: #999;
}

h4 {
  margin-top: 15px;
}

h3 {
  margin-left: -20px;
}

h3::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 2px;
  background-color: var(--main-color);
  transform: translate(-15px) rotate(-30deg);
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 10px 20px;
}

.flex-item {
  width: 400px;
  margin: 0 0 50px 10px;
  /* background-color: #444; */
  padding: 0 25px;
  border-left: 2px solid var(--main-color);
}

.flex-item:first-child {
  width: 360px;
}

@media (max-width: 1350px) {
  .flex-item:first-child {
    width: 87%;
  }
  .flex-item {
    width: 40%;
  }
}
@media (max-width: 650px) {
  .flex-item {
    width: 87%;
  }
}
