*{
    color: black;
}

button.close{
    text-align: right;
    width: 20px;
    font-size: 28px;
}

.btn-footer{
    width: 50px;
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
    padding: 2px 12px;
}

.btn-footer:hover{
    background-color: black;
    color: white;
}

h4{
    width: 200px;
    margin: 0 auto;
}

.modal-dialog{
    width: 300px;    
}

.modal-content{
    border-radius: 0;
}

.modal-footer{
    justify-content: center;
}



