<button *ngIf="!showAdd && isLogged" (click)="onAgregar()" class="icono main-color arriba">+Agregar {{tipo}}</button>
<div *ngIf="showAdd" class="editable">
    <div class="campos">
        <input type="text" name="tiempo" placeholder="Agregar tiempo" class="tiempo" 
            [(ngModel)]="tiempo" autocomplete="off"/>
        <input type="text" name="titulo" placeholder="Agregar titulo" class="titulo"
            [(ngModel)]="titulo" autocomplete="off"/>
        <input type="text" name="descripcion" placeholder="Agregar descripción" class="descripcion"
            [(ngModel)]="descripcion" autocomplete="off"/>
        <input type="text" name="otrasNotas" placeholder="Agregar nota" class="descripcion"
            [(ngModel)]="otrasNotas" autocomplete="off"/>
    </div>

    <div class="botones">
        <button (click)="cancelar()" class="icono second-color center">Cancelar
            <fa-icon [icon]="['fas', 'times']"></fa-icon>
        </button>
        <button (click)="submit()" class="icono main-color center">Guardar
            <fa-icon [icon]="['fas', 'check']"></fa-icon>
        </button>
    </div>
</div>

