<app-subtitulo #subtitulo [subtitulo]="'Experiencia'"></app-subtitulo>
<app-form-agregar #formAgregar [tipo]="'experiencias'" (onAgregar)="subtitulo.changeStateAdd();"></app-form-agregar>


<ul>
  <li *ngFor="let experiencia of miExperiencia" 
    [ngClass]="{ editable: experiencia.editar }"
    value="{{ experiencia.id }}"
  >
    <app-button-edit-del [objeto]="experiencia"></app-button-edit-del>
    <app-exp #compExp [objeto]="experiencia"></app-exp>
    <app-button-cancelar-guardar
      [objeto]="experiencia"
      [tipo]="'experiencias'"
      (reset)="reset()"
      
    ></app-button-cancelar-guardar>

  </li>
</ul>


<button (click)="chusmear()">chusmear</button>


<!-- <h3>Estudios</h3>

<ul>
  <li
    *ngFor="let estudio of misEstudios"
    [ngClass]="{ editable: estudio.editar }"
    value="{{ estudio.id }}"
  >
    <app-button-edit-del [objeto]="estudio"></app-button-edit-del>
    <app-exp #compExp [objeto]="estudio" ></app-exp>
    <app-button-cancelar-guardar
      [objeto]="estudio"
      [tipo]="'estudios'"
      (reset)="compExp.reset()"
    ></app-button-cancelar-guardar>

  </li>
</ul> -->




