<h3>Experiencia</h3>
<ul>
    <li *ngFor = "let experiencia of experienciasList">
        <h4>{{experiencia.nombre}}</h4>
        <h6>{{experiencia.tiempo}}</h6>
        <p>{{experiencia.descripcion}}</p>
        <p>{{experiencia.nota1}}</p>
        <p>{{experiencia.nota2}}</p>
        
    <fa-icon class="cruz-del" [icon]="['fas', 'times']"></fa-icon>
    <fa-icon class="edit" [icon]="['far', 'edit']"></fa-icon>
    <p class="save">Guardar cambios
        <fa-icon class="check" [icon]="['fas', 'check']"></fa-icon>
    </p>
    </li>
   
</ul>